
<!-- footer start -->
<footer class="bg-dark text-light py-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <h3>7-Day Psychology</h3>
        <small class="d-block text-muted">© 2019-2020</small>
        <small class="text-muted">All Rights Reserved.</small>
      </div>
      <!--end of col-->
        </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</footer>
<!-- footer end -->
