<div id="top">
  <div>
    <div class="col-4 float-right">
      <app-side-nav></app-side-nav>
    </div>
    <div id="pa2" class="col-md-12 alignTab ">
      <a routerLink="/register"> <button class="btn btn-info">Add new User</button></a>

      <div class="panel-body">
        <b>List of Client Users</b>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>SN</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Phone Number</th>
            <th colspan="2" class="text-center">Actions</th>
            <th>
              <button (click)="downloadExcelFileOfClients() " title="Download Excel File(Client)">
              <svg class="bi bi-file-spreadsheet" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" title = "Generate excel">
                <path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
                <path fill-rule="evenodd" d="M13 6H3V5h10v1zm0 3H3V8h10v1zm0 3H3v-1h10v1z"/>
                <path fill-rule="evenodd" d="M5 14V6h1v8H5zm4 0V6h1v8H9z"/>
              </svg>
              </button>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor = " let client of clients; let i = index">
            <td>{{i+1}}</td>
            <td>{{client.firstname}}</td>
            <td>{{client.middlename}}</td>
            <td>{{client.lastname}}</td>
            <td>{{client.email}}</td>
            <td>{{client.username}}</td>
            <td>{{client.mobilenumber}}</td>
            <td><button class="btn btn-danger" (click)="openModal('custom-modal-1', client.id)">Delete</button></td>
            <td><a [routerLink]="['/personal-information/', client.id]" class="btn btn-primary">Update</a></td>
          </tr>
          </tbody>
        </table>

        <div style="padding-top: 250px !important;">
          <jw-modal id="custom-modal-1">
            <b>Do you want to delete the current user?</b> <br>
            <button (click)="deleteClient('custom-modal-1')"> Yes</button>
            <button (click)="closeModal('custom-modal-1');">Close</button>
          </jw-modal>
        </div>
      </div>
    </div>
  </div>
</div>
