<div id="wrapper">
    <div id="sidebar-wrapper">
      <aside id="sidebar">
        <ul id="sidemenu" class="sidebar-nav">
          <li>
            <a href="#">
              <span class="sidebar-icon">
                <svg class="bi bi-house" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 00.5.5h9a.5.5 0 00.5-.5V7h1v6.5a1.5 1.5 0 01-1.5 1.5h-9A1.5 1.5 0 012 13.5zm11-11V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 011.414 0l6.647 6.646a.5.5 0 01-.708.708L8 2.207 1.354 8.854a.5.5 0 11-.708-.708L7.293 1.5z" clip-rule="evenodd"/>
              </svg>
              </span>
              <span class="sidebar-title">Home</span>
            </a>
          </li>
          <li>
            <a *ngIf="user.role === 'admin'" class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-2">
              <span class="sidebar-icon">
                <svg class="bi bi-person-lines-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 100-6 3 3 0 000 6zm7 1.5a.5.5 0 01.5-.5h2a.5.5 0 010 1h-2a.5.5 0 01-.5-.5zm-2-3a.5.5 0 01.5-.5h4a.5.5 0 010 1h-4a.5.5 0 01-.5-.5zm0-3a.5.5 0 01.5-.5h4a.5.5 0 010 1h-4a.5.5 0 01-.5-.5zm2 9a.5.5 0 01.5-.5h2a.5.5 0 010 1h-2a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
                </svg>
              </span>
              <span class="sidebar-title">Users</span>
              <b class="caret"></b>
            </a>
            <ul *ngIf="user.role ==='admin' " id="submenu-2" class="panel-collapse collapse panel-switch" role="menu">
              <li><a routerLink="/counsellors"><i class="fa fa-caret-right"></i>Counsellors</a></li>
              <li><a routerLink="/clients"><i class="fa fa-caret-right"></i>Clients</a></li>
            </ul>
          </li>

          <li *ngIf="user.role === 'client' ">
            <a routerLink="/book-newAppointment">
              <span class="sidebar-icon">
                <svg class="bi bi-file-earmark-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 1H4a2 2 0 00-2 2v10a2 2 0 002 2h5v-1H4a1 1 0 01-1-1V3a1 1 0 011-1h5v2.5A1.5 1.5 0 0010.5 6H13v2h1V6L9 1z"/>
                  <path fill-rule="evenodd" d="M13.5 10a.5.5 0 01.5.5v2a.5.5 0 01-.5.5h-2a.5.5 0 010-1H13v-1.5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M13 12.5a.5.5 0 01.5-.5h2a.5.5 0 010 1H14v1.5a.5.5 0 01-1 0v-2z" clip-rule="evenodd"/>
                </svg>
              </span>
              <span class="sidebar-title">Book New Appointment</span>
            </a>
          </li>

          <li>
            <a routerLink="/booked-appointments" class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-3">
              <span class="sidebar-icon">
                <svg class="bi bi-table" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M15 4H1V3h14v1z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M5 15.5v-14h1v14H5zm5 0v-14h1v14h-1z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M15 8H1V7h14v1zm0 4H1v-1h14v1z" clip-rule="evenodd"/>
                <path d="M0 2a2 2 0 012-2h12a2 2 0 012 2v2H0V2z"/>
                </svg>
              </span>
              <span class="sidebar-title">Booked Appointments</span>
              <b class="caret"></b>
            </a>
<!--            <ul id="submenu-3" class="panel-collapse collapse panel-switch" role="menu">-->
<!--              <li><a href="#"><i class="fa fa-caret-right"></i>Posts</a></li>-->
<!--              <li><a href="#"><i class="fa fa-caret-right"></i>Comments</a></li>-->
<!--            </ul>-->
          </li>
          <li>
            <a *ngIf="user.role === 'counsellor'" routerLink="/my-availability">
              <span class="sidebar-icon">
                <svg class="bi bi-calendar" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M14 0H2a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M6.5 7a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
                </svg>
              </span>
              <span class="sidebar-title">My Availability</span>
            </a>
          </li>
        </ul>
      </aside>
    </div>
    <main id="page-content-wrapper" role="main">
    </main>
  </div>

