<div id="top">
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form #f= "ngForm" (ngSubmit)=" f.form.valid && login(f.value)">
            <h3 class="text-center text-info">Login</h3>
            <div class="form-group">
              <label for="username" class="text-info">Username:</label><br>
              <input #uname ="ngModel" [(ngModel)]="username" type="text" name="username" id="username" class="form-control" required>
            </div>
            <div class="alert alert-danger" *ngIf="uname.touched && uname.invalid">
              Username is required.
            </div>
            <div class="form-group">
              <label for="password" class="text-info">Password:</label><br>
              <input #pword= "ngModel" [(ngModel)]="password" type="password" name="password" id="password" class="form-control" required>
            </div>
            <div class="alert alert-danger" *ngIf="pword.touched && pword.invalid">
              Password is required.
            </div>
            <button [disabled]="uname.invalid || pword.invalid" class=" btn btn-info btn-md">Login</button>

            <div id="register-link" class="text-right">
              <a routerLink="/register" class="text-info"> Not a Member <br> Register here</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer id="footer"></app-footer>
