<app-nav-bar></app-nav-bar>
<div id="top">
  <div>
    <div class="col-4 float-right">
      <app-side-nav></app-side-nav>
    </div>
    <div id="pa1" class="col-8 float-right">
      <b>Below are the booked appoiments: </b> <br>
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="hidden">SN</th>
          <th>Booked Schedule Date</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bookedAppoinment of bookedAppointments; index as i">
          <td> {{i + 1}}</td>
          <td>{{bookedAppoinment.availabilityTime}}</td>
          <button class="btn btn-info" (click)="openModal('custom-modal-1', bookedAppoinment.id)">View Details</button>
        </tr>
        </tbody>
      </table>
      <div style="padding-top: 250px !important;">
        <jw-modal class="" id="custom-modal-1">
          <b>Booked Appointment Details:</b> <br>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Booked Schedule Date</th>
              <th>Counsellor Name</th>
              <th>Counsellor Phone</th>
              <th>Counsellor Mail</th>
              <th>Client Name</th>
              <th>Client Phone</th>
              <th>Client Mail</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{bookedAppointmentDetails.availableTime}}</td>
              <td>{{bookedAppointmentDetails.counellorName}}</td>
              <td>{{bookedAppointmentDetails.counsellorPhoneNumber}}</td>
              <td>{{bookedAppointmentDetails.counsellorEmail}}</td>
              <td>{{bookedAppointmentDetails.clientName}}</td>
              <td>{{bookedAppointmentDetails.clientPhoneNumber}}</td>
              <td>{{bookedAppointmentDetails.clientEmail}}</td>

            </tr>
            </tbody>
          </table>
          <button (click)="closeModal('custom-modal-1');">Close</button>
        </jw-modal>
      </div>
    </div>
  </div>
</div>
