::ng-deep .bs-datepicker-body table td span.custom-selected-date,
::ng-deep .bs-datepicker-body table td span.custom-selected-date.selected {
  background-color: forestgreen !important;
  color: white !important;
}

::ng-deep .bs-datepicker-body table td span.selected {
  background-color: transparent !important;
  color: #54708b !important;
}

::ng-deep .bs-datepicker-body table.days span.in-range:before {
  background-color: transparent !important;
}

#pa {
  padding-top: 20px;
}
