<app-nav-bar></app-nav-bar>
<div id="top">
  <div>
    <div class="col-4 float-right">
      <app-side-nav></app-side-nav>
    </div>
    <div id="pa" class="col-8 float-right">
      <span>
        Please select your calendar availability:
      <input [(ngModel)]="selectedMoment" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
      <owl-date-time opened = "true" #dt1></owl-date-time>
      </span><br><br>

      <button [disabled]="selectedMoment == null" class=" btn btn-info btn-md " (click)="addCurrentDateToList()"> Schedule New Booking List</button>
      <br>

      <table class="table table-striped">
        <thead>
        <tr>
          <th class="hidden">Booking Schedule</th>
          <th>SN</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bookedDate of dateSelected; index as i">
          <td> {{i + 1}}</td>
          <td>{{bookedDate}}</td>
          <td><button class="btn btn-danger" (click)="removeBookedDate(bookedDate)"> Delete</button>
        </tr>
        </tbody>
      </table>
      <button [disabled]="dateSelected.length <= 0" class=" btn btn-info btn-md " (click)="saveBookedDate()"> Confirm Pending Booking Schedule</button>


      <table class="table table-striped">
        <thead>
        <tr>
          <th class="hidden">Confirmed Booked Schedule</th>
          <th>Booked Date SN</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bookedDate of bookedDates; index as i">
          <td> {{i + 1}}</td>
          <td>{{bookedDate.availabilityDate}}</td>
          <button class="btn btn-danger" (click)="openModal('custom-modal-1', bookedDate.id)">Delete</button>
        </tr>
        </tbody>
      </table>

      <div style="padding-top: 250px !important;">
      <jw-modal id="custom-modal-1">
        <b>Do you want to delete the current appointment?</b> <br>
        <button (click)="deleteBookedDate('custom-modal-1')"> Yes</button>
        <button (click)="closeModal('custom-modal-1');">Close</button>
      </jw-modal>
      </div>
    </div>
  </div>
</div>
