<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark nav-masthead">
  <div class="container">
    <a class="navbar-brand" href="#"> <h3 class="masthead-brand mb-0"><i class="fas fa-fire-alt"></i></h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <img src="assets/img/logo7day.png" routerLink="/home" style="cursor: pointer">
    </div>
    <a class="nav-link text-white p-2 font-weight-bold float-right"  *ngIf="!user" routerLink="/signIn">Login</a>
    <a class="nav-link text-white p-2 font-weight-bold float-right"  *ngIf="!user" routerLink="/register">Register</a>
    <li *ngIf="(user && user.loggedIn)" class="nav-item dropdown nav-link text-white p-2 font-weight-bold float-right">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="preview" role="button"
         aria-haspopup="true" aria-expanded="false">Welcome {{ user.username }}</a>
      <div class="dropdown-menu" aria-lableledby="preview">
        <a class="dropdown-item" routerLink="/dashboard">My Dashboard</a>
        <a class="dropdown-item" style="cursor: pointer" (click)="logout()">Logout</a>
      </div>
    </li>
  </div>
</nav>
<!-- nav bar ends -->
