<app-nav-bar></app-nav-bar>
<div id="top">
  <div>
    <div class="col-4 float-right">
      <app-side-nav></app-side-nav>
    </div>
    <div id="pa1" class="col-8 float-right">
      <div>
        <b>Booking Available: </b> <ng-select [items]="bookingAvailable"
                 bindLabel="availabilityTime"
                 placeholder="Select Booking Appointment"
                 [(ngModel)]="bookingSelected">
      </ng-select>
      </div> <br>
      <p *ngIf="bookingSelected != null">
        <b>Selected Booking Appointment Date:</b> {{bookingSelected.availabilityTime}}
      </p>
      <button [disabled]="bookingSelected == null" class=" btn btn-info btn-md " (click)="confirmBookDate()"> Confirm Booking Schedule</button>
    </div>
  </div>
</div>
