<div id="top">
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form #f= "ngForm" (ngSubmit)="update(f.value)">
            <h3 class="text-center text-info">Edit Personal Information</h3>
            <div class="form-group">
              <label for="username" class="text-info">Username:</label><br>
              <input type="text" #uname= "ngModel" [(ngModel)]="user.username" name="username" id="username" pattern="^[a-z0-9_-]{8,15}$" class="form-control" >
            </div>
            <div class="alert alert-danger" *ngIf="uname.touched ">
              Username is required and must be at least 8 or more characters.
            </div>

            <div class="form-group">
              <label for="username" class="text-info">First Name:</label><br>
              <input type="text" #fname= "ngModel" [(ngModel)]="user.firstname" name="firstname" id="firstname" class="form-control">
            </div>

            <div class="form-group">
              <label for="username" class="text-info">Middle Name:</label><br>
              <input type="text" #mname= "ngModel" [(ngModel)]="user.middlename" name="middlename" id="middlename" class="form-control">
            </div>

            <div class="form-group">
              <label for="lastname" class="text-info">LastName:</label><br>
              <input type="text" #lname= "ngModel" [(ngModel)]="user.lastname" name="lastname" id="lastname" class="form-control">
            </div>

            <div class="form-group">
              <label for="mobilenumber" class="text-info">Mobile number:</label><br>
              <input type="text" #mnumber= "ngModel" [(ngModel)]="user.mobilenumber" name="mobilenumber" id="mobilenumber" class="form-control">
            </div>

            <div *ngIf="user.role == 'counsellor'" class="form-group">
              <label for="mobilenumber" class="text-info">Description: </label><br>
              <input type="text" #desc= "ngModel" [(ngModel)]="user.description" name="description" id="description" class="form-control">
            </div>

            <div class="form-group">
              <label for="password" class="text-info">Password:</label><br>
              <input type="password" [(ngModel)]="user.password" name="password" class="form-control" #pword="ngModel" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}" />
              <div *ngIf="pword.invalid && (f.submitted || pword.touched)" class="alert alert-danger">
                <div *ngIf="pword.errors.required"> Password is required. </div>
                <div *ngIf="pword.errors.pattern"> Must contain at least one number and one uppercase and lowercase letter, and at least 5 or more characters.</div>
              </div>
            </div>

            <div class="form-group">
              <label for="confirmPassword" class="text-info">Confirm Password:</label><br>
              <input type="password" [(ngModel)]="confirmpassword" name="confirmpassword" class="form-control" #confirmpword="ngModel" id="confirmPassword" />
              <div *ngIf=" confirmpword.invalid && (f.submitted || confirmpword.touched)" class="alert alert-danger">
                <div *ngIf="confirmpword.errors.required"> Confirm password is required. </div>
                <div *ngIf="confirmpword.errors.pattern"> Password & Confirm Password does not match.</div>
              </div>
            </div>

            <div class="form-group">
              <label for="email" class="text-info">Email:</label><br>
              <input type="text" [(ngModel)]="user.email" name="email" #mail="ngModel" id="email" class="form-control">
            </div>

            <div class="form-group">
              <label for="role" class="text-info">Role:</label>
              <select #cgory="ngModel" [(ngModel)] = "user.role" name = "role" id="category"  id="role" class="form-control" required>
                <option value=""></option>
                <option value="counsellor">Counsellor</option>
                <option value="client">Client</option>
              </select>
            </div>
            <div class="alert alert-danger" *ngIf="cgory.touched && cgory.invalid">
              Category is required.
            </div>
            <div class="form-group">
              <button class=" btn btn-info btn-md">Update</button>
              <div *ngIf="mainUser.role == 'client' || mainUser.role == 'counsellor'" class="btn btn-success" style="margin: 10px"><a routerLink="/dashboard">Back</a></div>
              <div *ngIf="mainUser.role == 'admin' " class="btn btn-success" style="margin: 10px"><a routerLink="/counsellors">Back</a></div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
