<app-nav-bar></app-nav-bar>
<div id="top">
  <div>
    <div class="col-4 float-right">
      <app-side-nav></app-side-nav>
    </div>
    <div class="col-8 float-right">
      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">

        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"> {{ userDetails.username }}</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class=" col-md-9 col-lg-9 ">
                <table class="table table-striped">
                  <tbody>
                  <tr>
                    <td>First Name:</td>
                    <td>{{userDetails.firstname}}</td>
                  </tr>
                  <tr>
                    <td>Middle Name</td>
                    <td> {{ userDetails.middlename }}</td>
                  </tr>
                  <tr>
                    <td>Last Name</td>
                    <td> {{ userDetails.lastname }}</td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td> {{ userDetails.email }}</td>
                  </tr>
                  <tr>
                    <td>Phone Number</td>
                    <td> {{ userDetails.mobilenumber }}</td>
                  </tr>
                  </tbody>
                </table>
                <a [routerLink]="['/personal-information/', userDetails.id]" class="btn btn-primary">Edit Personal Information</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
