@import "~ng-pick-datetime/assets/style/picker.min.css";

@import "~@ng-select/ng-select/themes/default.theme.css";

body{
  font-family: 'Nunito', sans-serif;
}
.jumbotron-odi-hero{
  padding: 0rem 0rem;
  position: relative;
  max-width: 100%;

}
.jumbotron-odi-dark{
  max-width: 100%;
  padding: 0px;

}

.jumbotron-overlay {
  height:100%;
  padding: 100px 0;
  color:#fff;

}
.jumbotron-padding{
  padding-top: 6rem;

}

.btn-circle {
  border-radius: 30px;
}

.latest-news {
  border-bottom: .25rem solid transparent;
  border-bottom-color: #007bff;
}

#top{
  margin-top: 70px;
}

/** making the footer stuck on bottom **/
#page-container {
  position: relative;
}

#content-wrap {
  padding-bottom: 0px;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

body {
  background: lightgray;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.navbar-default .navbar-nav #user-profile {
  height: 50px;
  padding-top: 15px;
  padding-left: 58px;
}

.navbar-default .navbar-nav #user-profile img {
  height: 45px;
  width: 45px;
  position: absolute;
  top: 2px;
  left: 8px;
  padding: 1px;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

@media (min-width: 992px) {
  #wrapper {
    padding-left: 225px;
  }
}

@media (min-width: 992px) {
  #wrapper #sidebar-wrapper {
    width: 225px;
  }
}

#sidebar-wrapper {
  border-right: 1px solid #e7e7e7;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 225px;
  width: 0;
  height: 100%;
  margin-left: -225px;
  overflow-y: auto;
  background: #f8f8f8;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

#sidebar-wrapper .sidebar-nav {
  position: absolute;
  top: 0;
  width: 225px;
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar-wrapper .sidebar-nav li {
  text-indent: 0;
  line-height: 45px;
}

#sidebar-wrapper .sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #428bca;
}

.sidebar-nav li:first-child a {
  background: #92bce0 !important;
  color: #fff !important;
}

#sidebar-wrapper .sidebar-nav li a .sidebar-icon {
  width: 45px;
  height: 45px;
  font-size: 14px;
  padding: 0 2px;
  display: inline-block;
  text-indent: 7px;
  margin-right: 10px;
  color: #fff;
  float: left;
}

#sidebar-wrapper .sidebar-nav li a .caret {
  position: absolute;
  right: 23px;
  top: auto;
  margin-top: 20px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse {
  list-style: none;
  -moz-padding-start: 0;
  -webkit-padding-start: 0;
  -khtml-padding-start: 0;
  -o-padding-start: 0;
  padding-start: 0;
  padding: 0;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li i {
  margin-right: 10px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li {
  text-indent: 15px;
}

@media (max-width: 992px) {
  #wrapper #sidebar-wrapper {
    width: 45px;
  }
  #wrapper #sidebar-wrapper #sidebar #sidemenu li ul {
    position: fixed;
    left: 45px;
    margin-top: -45px;
    z-index: 1000;
    width: 200px;
    height: 0;
  }
}

.sidebar-nav li:first-child a {
  background: #92bce0 !important;
  color: #fff !important;
}

.sidebar-nav li:nth-child(2) a {
  background: #6aa3d5 !important;
  color: #fff !important;
}

.sidebar-nav li:nth-child(3) a {
  background: #428bca !important;
  color: #fff !important;
}

.sidebar-nav li:nth-child(4) a {
  background: #3071a9 !important;
  color: #fff !important;
}

.sidebar-nav li:nth-child(5) a {
  background: #245682 !important;
  color: #fff !important;
}

