
<app-nav-bar></app-nav-bar>

<div class="jumbotron jumbotron-odi-hero bg-primary">
  <div class="jumbotron-overlay ">
    <div class="container jumbotron-padding  text-center">
      <h1 class="display-4">Any Problem? Always there for you. 7 Day Psychology.</h1>
    </div>
  </div>
</div>


<div class="container mt-5" id="about">
  <h1 class="text-center py-4">Why to choose us?</h1>

  <div class="row text-center mt-5">
    <div class="col-md-3">
      <div class="card shadow">
        <div class="card-body">
          <div class="py-3 text-center"> <i class="fas fa-rocket card-img-top fa-4x text-primary" aria-hidden="true"></i></div>
          <div class="card-body">
            <h4 class="card-title">Professional Counsellors</h4>
            <p class="card-text">You can use this theme as personal as well as for commercial purpose & can customise it. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow">
        <div class="card-body">
          <div class="py-3 text-center"><i class="fas fa-feather card-img-top fa-4x text-primary" aria-hidden="true"></i></div>
          <div class="card-body">
            <h4 class="card-title">Easy Online Booking</h4>
            <p class="card-text">We avoid needless js and CSS which makes template more sleek and powerful. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow">
        <div class="card-body">
          <div class="py-3 text-center"><i class="fa fa-tablet card-img-top fa-4x text-primary" aria-hidden="true"></i></div>

          <div class="card-body">
            <h4 class="card-title">Quality Service for clients </h4>
            <p class="card-text">Our templates works in all devices (desktop,tablets and phones). </p>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div class="card shadow">
        <div class="card-body">
          <div class="py-3 text-center"><i class="fas fa-charging-station card-img-top fa-4x text-primary" aria-hidden="true"></i>
          </div>
          <div class="card-body">
            <h4 class="card-title">Easy communication</h4>
            <p class="card-text">Our templates are clean,light weight and technically refined. </p>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<!-- price plan starts -->
<div class="container mt-5">
  <div class="row py-5">
    <div class="col-md-4">
      <strong class="d-inline-block mb-2 text-primary">Online Member</strong>
      <h3 class="mb-0">
        No any charges
      </h3>
      <p class="lead text-muted">All the services are free to join online.</p>
      <a routerLink="/register"> <button type="button" class="btn btn-lg btn-primary btn-circle">Get started by registering</button></a>
    </div>


  </div>
</div>
<!-- price plan ends -->
<!-- features start -->

<!-- features end -->
<!-- blog post start -->
<div class="container mt-5">
  <h3 class="pt-4 d-inline latest-news">Latest News</h3>

  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" src="images/jelly-pro-3.jpg"  alt="">
        <div class="card-body">
          <h4 class="card-title mb-3 text-dark">
            <p class="text-decoration-none text-dark font-weight-bold">
              Partners with different Chemist
            </p>
          </h4>
          <p class="card-text">Partnership with different chemist shops where discounts are available through out the chemist store.</p>

        </div>
        <div class="card-footer text-muted border-0 bg-white">

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" src="images/jelly-pro-2.jpeg"  alt="">
        <div class="card-body">
          <h4 class="card-title mb-3 text-dark">
            <p class="text-decoration-none text-dark font-weight-bold">
              Professional Counsellor Available
            </p>
          </h4>
          <p class="card-text">More new, excellent and professional counsellors available. </p>

        </div>
        <div class="card-footer text-muted border-0 bg-white">

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" src="images/jelly-pro-1.jpeg"  alt="">
        <div class="card-body">
          <h4 class="card-title mb-3 text-dark">
            <p class="text-decoration-none text-dark font-weight-bold">
              Booking facility on your hand.
            </p>
          </h4>
          <p class="card-text">Booking can be done any time. </p>

        </div>
        <div class="card-footer text-muted border-0 bg-white">

        </div>
      </div>
    </div>
  </div>
</div>
<!-- blog post end -->
<app-footer></app-footer>
