<app-nav-bar></app-nav-bar>
<div id="top">
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form #f= "ngForm" (ngSubmit)=" f.form.valid && register(f.value)">
           <div *ngIf="user && user.role === 'admin'"> <h3 class="text-center text-info">Add User</h3> </div>
           <div *ngIf="user && user.role !== 'admin'"> <h3 class="text-center text-info">Register</h3> </div>
            <div class="form-group">
              <label for="username" class="text-info">Username:</label><br>
              <input type="text" #uname= "ngModel" [(ngModel)]="username" name="username" id="username" pattern="^[a-z0-9_-]{8,15}$" class="form-control" required>
            </div>
            <div class="alert alert-danger" *ngIf="uname.touched && uname.invalid ">
              Username is required and must be at least 8 or more characters.
            </div>

            <div class="form-group">
              <label for="password" class="text-info">Password:</label><br>
              <input type="password" [(ngModel)]="password" name="password" class="form-control" required #pword="ngModel" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}" />
              <div *ngIf="pword.invalid && (f.submitted || pword.touched)" class="alert alert-danger">
                <div *ngIf="pword.errors.required"> Password is required. </div>
                <div *ngIf="pword.errors.pattern"> Must contain at least one number and one uppercase and lowercase letter, and at least 5 or more characters.</div>
              </div>
            </div>

            <div class="form-group">
              <label for="confirmPassword" class="text-info">Confirm Password:</label><br>
              <input type="password" [(ngModel)]="confirmpassword" name="confirmpassword" class="form-control" required #confirmpword="ngModel" id="confirmPassword" pattern="{{ pword.value }}" />
              <div *ngIf=" confirmpword.invalid && (f.submitted || confirmpword.touched)" class="alert alert-danger">
                <div *ngIf="confirmpword.errors.required"> Confirm password is required. </div>
                <div *ngIf="confirmpword.errors.pattern"> Password & Confirm Password does not match.</div>
              </div>
            </div>

            <div class="form-group">
              <label for="email" class="text-info">Email:</label><br>
              <input type="text" [(ngModel)]="email" name="email" #mail="ngModel" id="email" class="form-control" required>
            </div>
            <div class="alert alert-danger" *ngIf="mail.touched && mail.invalid">
              Email is required.
            </div>

            <div class="form-group">
              <label for="role" class="text-info">Role:</label>
              <select #cgory="ngModel" [(ngModel)] = "role" name = "role" id="category"  id="role" class="form-control" required>
                <option value=""></option>
                <option value="counsellor">Counsellor</option>
                <option value="client">Client</option>
              </select>
            </div>
            <div class="alert alert-danger" *ngIf="cgory.touched && cgory.invalid">
              Category is required.
            </div>

            <div *ngIf="!user && (user|json) == 'null'"class="form-group">
              <button [disabled]="uname.invalid || pword.invalid || mail.invalid" class=" btn btn-info btn-md">Register</button>
            </div>

            <div *ngIf="user && user.role === 'admin'"class="form-group">
              <button [disabled]="uname.invalid || pword.invalid || mail.invalid" class=" btn btn-info btn-md">Add User</button>
              <a routerLink="/counsellors"><button style="margin: 10px" class=" btn btn-success btn-md">Back</button></a>
            </div>


            <div *ngIf="!user && (user|json) == 'null'" id="register-link" class="text-right">
              <a routerLink="/signIn" class="text-info"> Already a Member <br> Log In</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div  *ngIf="user && user.role !== 'admin'">
<app-footer></app-footer>
</div>
